/*
 *  Prefs and Custom Tag window
 *
 *  Images source: https://github.com/iconic/open-iconic
 */

#bbcodextra-enable-vbulletin {
	margin-left: 30px;
}

#bbcodextraPreferences radio[pane] {
   	-moz-image-region: rect(0px, 32px, 36px, 0px);
	padding: 8px;
}

#bbcodextraPreferences radio[pane="bbcodextra-paneMenu"] {
   list-style-image: url("chrome://bbcodextra/skin/pref_menu.png");
}

#bbcodextraPreferences radio[pane="bbcodextra-paneCustomTags"] {
   list-style-image: url("chrome://bbcodextra/skin/pref_customtags.png");
}

#bbcodextraPreferences #listAvailableCustomTags {
	width: 300px;
}

#bbcodextraPreferences button {
	margin: 4px;
}

#bbcodextraPreferences .imgButtons {
    -moz-appearance: none;
	min-height: 2.5em;
	width: 150px;
    border: 1px solid #c1c1c1;
    background-color: #ebebeb;
    padding: 4px 4px 4px 26px;
    text-align: left;
}

#bbcodextraPreferences .imgButtons:hover {
    background: red;
    box-shadow: 0 1px rgba(255,255,255,.4), inset 0 1px 3px rgba(0,0,0,.2);
}

#bbcodextraPreferences #btnAdd {
	background: url('chrome://bbcodextra/skin/btnAdd.png') 6px center no-repeat;
}

#bbcodextraPreferences #btnEdit {
    background: url('chrome://bbcodextra/skin/btnEdit.png') 6px center no-repeat;
}

#bbcodextraPreferences #btnDelete {
    background: url('chrome://bbcodextra/skin/btnDelete.png') 6px center no-repeat;
}

#bbcodextraPreferences #btnMoveUp {
    background: url('chrome://bbcodextra/skin/btnUp.png') 6px center no-repeat;
}

#bbcodextraPreferences #btnMoveDown {
    background: url('chrome://bbcodextra/skin/btnDown.png') 6px center no-repeat;
}

#bbcodextraPreferences #btnSortAlpha {
    background: url('chrome://bbcodextra/skin/btnSort.png') 6px center no-repeat;
}

#bbcodextraCustomDialog .varname {
	font-weight: bold;
	font-family: monospace;
}

#bbcodextraCustomDialog .labelCustom {
	width: 100px;
}